In [43]:
from bs4 import BeautifulSoup

In [44]:
f = open("pagehtml.txt", "r")
webpage = f.read()
f.close()

In [45]:
soup = BeautifulSoup(webpage,'lxml')
ul = soup.find("ul")
lis = ul.find_all("li")
final = []
tut = []
for item in lis:
	x = item.find("div",{ "class" : "pq-dir-list-item-top"}).find("a").text
	y = item.find("p",{"class":"tuition"}).text.split(":")[1]
	tut.append(y)
	final.append(x)

dt = {}
for x in range(0,len(final)):
	dt[final[x]]=tut[x]
print(dt)

{'Emory Universityâ€™s Goizueta Business School: MS in Business Analytics': ' $70,296', 'Temple Universityâ€™s Fox School of Business: MS in Digital Innovation in Marketing': ' $30,312', 'Georgetown Universityâ€™s McDonough School of Business: MS in Management': ' $55,000', 'University of Cincinnatiâ€™s Carl H. Lindner College of Business: MA in Human Resources': ' $19,280 In-State, $22,118 Out-of-State', 'University of California San Diegoâ€™s Rady School of Management: MS in Business Analytics': ' $56,250', 'William and Maryâ€™s Raymond A. Masonâ€™s School of Business: Master of Accounting': ' $34,848 (In-State), $45,818 (Out-Of-State)', 'Georgia State Universityâ€™s Robinson College of Business: Flexible Master of Professional Accountancy': ' $22,164', 'Imperial College Business School: MSc International Health Management': ' Â£27,500', 'Baruch Collegeâ€™s Zicklin School of Business: MS in Marketing': ' $15,675', 'Santa Clara Universityâ€™s Leavey School of Business: MS in Finance': ' $57, 575'}

In [46]:
import pandas as pd
import numpy as np

In [72]:
data1 = pd.DataFrame(tut[:],final [:])
print(data1)

                                                                                              0
Emory Universityâ€™s Goizueta Business School: ...                                      $70,296
Temple Universityâ€™s Fox School of Business: M...                                      $30,312
Georgetown Universityâ€™s McDonough School of B...                                      $55,000
University of Cincinnatiâ€™s Carl H. Lindner Co...       $19,280 In-State, $22,118 Out-of-State
University of California San Diegoâ€™s Rady Sch...                                      $56,250
William and Maryâ€™s Raymond A. Masonâ€™s Schoo...   $34,848 (In-State), $45,818 (Out-Of-State)
Georgia State Universityâ€™s Robinson College o...                                      $22,164
Imperial College Business School: MSc Internati...                                     Â£27,500
Baruch Collegeâ€™s Zicklin School of Business: ...                                      $15,675
Santa Clara Universityâ€™s Leavey School of Bus...                                     $57, 575

In [70]:
data1.to_csv(r'Book3.csv', encoding='utf-8', index=False)